@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Roboto:ital,wght@0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #e4f1ff; */
}

.section-one {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 20px;
  gap: 80px;
  height: 100vh;
}
.joshi {
  font-family: "Roboto", sans-serif;
  color: #53ef7d;
  font-size: 44px;
  font-weight: 800;
}
.joshi-small {
  font-family: "Poppins", sans-serif;
  color: #53ef7d;
  font-size: 24px;
  font-weight: 800;
}
.landing-card {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column-reverse;
  border-radius: 10px;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(225deg, #cdd9e6, #f4ffff);
  box-shadow: -24px 24px 35px #9ba4ad, 24px -24px 35px #ffffff;
}
.tagline {
  font-weight: 800;
  font-size: 24px;
  color: #000;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-45deg);
    filter: grayscale(100%);
  }
  /* 10% {
    transform: rotate(-60deg);
    filter: grayscale(90%);
  }
  20% {
    transform: rotate(-20deg);
    filter: grayscale(60%);
  }
  30% {
    transform: rotate(-15deg);
    filter: grayscale(50%);
  }
  40% {
    transform: rotate(-10deg);
    filter: grayscale(10%);
  } */

  100% {
    transform: rotate(0deg);
    filter: grayscale(0%);
  }
  /* 70% {
    transform: rotate(-5deg);
    filter: grayscale(0%);
  } */
  /* 80% {
    transform: rotate(-60deg);
    filter: grayscale(0%);
  }
  90% {
    transform: rotate(-360deg);
    filter: grayscale(0%);
  } */
  /* 100% {
    transform: rotate(-60deg);
    filter: grayscale(0%);
  } */
}
.main-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s ease-in-out;
  animation: App-logo-spin 3s ease;
}
.main-img:hover {
  filter: none;
  /* animation: App-logo-spin infinite 100s linear; */
}
.project-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s ease-in-out;
  /* animation: App-logo-spin 3s ease; */
}
/* cards 3d */
.projects {
  display: flex;
  /* height: 80vh; */
  padding: 80px;
  /* width: 80vw; */
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.card {
  width: 700px;
  height: 400px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  font-weight: 600;
  padding: 10px 20px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-three {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  /* background-color: rebeccapurple; */
  margin-top: 0px;
  gap: 40px;
  flex-wrap: wrap;
  width: 50%;
  padding: 100px;
}
.project-card {
  display: flex;
  flex-direction: row;
  background-color: #aed2ff;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 18px;
  transition: 0.4s ease;
  gap:20px ;
}
.project-card:hover {
  /* background-color: #53ef7d; */
}
.info{
  display:flex;
  flex-direction: column;
}

.section-four {
  display: flex;
  /* height: 50vh; */
  flex-direction: column;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.link {
  padding: 20px;
  color: #000;
}
.link:hover {
  color: #53ef7d;
}

@media only screen and (max-width: 700px) {
  .main-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  .card {
    width: 100%;
  }
  .tagline {
    font-size: 14px;
    text-align: center;
  }
  .joshi {
    font-size: 24px;
  }
  .section-three {
    margin-top: 2px;
  }
  .section-one {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px;
    gap: 20px;
    width: 100vw;
  }
  .main-img {
    width: 220px;
    height: 220px;
    /* width: 100%; */
  }
  .circle {
    width: 50px;
    height: 50px;
  }
}
